 
 .vignettes{
    display: flex;              /*Aligne par défaut les élément horizontalement. Permet l'utilisation d'autres outils tranformant le conteneur en bloc flexible*/
    justify-content: center;    /*Centre les éléments*/
    flex-wrap: wrap;            /*Permet de répartir les éléments sur plusieurs lignes si nécessaire.*/
    gap: 300px;                 /*défini un espace entre les éléments*/
    margin: 20px auto;
    max-width: 1000px;
}

    

